<p>
  testes-pipe works!
</p>
<h3>Exemplos de PIPES</h3>
<p> <b>Título:</b> {{ livro.titulo | uppercase | lowercase | camelCase}}</p>
<p><b>Estrelas:</b> {{ livro.rating | number: '1.1-1'}}</p>
<p><b>Páginas:</b> {{livro.numeroDePaginas | number}}</p>
<p><b>Data Lançamento:</b> {{livro.dataLancamento | date}}</p>
<p><b>Preço:</b> {{ livro.preco | currency:'BRL':true}}</p>
<p><b>Url: </b><a href="{{livro.url}}">LINK</a></p>

<input type="text" [(ngModel)]="filtro" placeholder="Filtragem">
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<h5>Pipe Puro</h5>
<ul>
  <li *ngFor="let liv of livros | filtroArray:filtro">
    {{ liv }}
  </li>
</ul>

<h5>Pipe Impuro</h5>
<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
    {{ liv }}
  </li>
</ul>

<h5>Maneira Correta de filtrar</h5>
<ul>
  <li *ngFor="let liv of obterCursos()">
    {{ liv }}
  </li>
</ul>

<p> {{ valorAsync | async}} </p>
<p> {{ valorAsync2 | async}} </p>